body { /* Base Background Settings */
  background-color: #19529C;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
iframe {
  outline: 5px solid black;
}
.works {
  width: 90%;
}
.music {
  width: 100%;
}
.centered {
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: #DC143C;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Montserrat';
}
td {
  background-color: white;
  outline: black;
  font-size: 20px;
}
.subhead {
  color: #F0E68C;
  text-align: center;
  font-size: 35px;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Montserrat';
}
.col {
  width: 70%;
  background-color: white;
  margin: auto;
}
.genre {
  color:
}
.dent {
  text-indent: 20px;
}
.info {
  width: 70%;
  margin: auto;
  line-height: 20px;
}
.hubpic {
  width: 250px;
  height: 250px;
  outline: 3px solid #cc4018;
  line-height: 20px;
}
.centertable {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
