.ul-nav { /* Navigation Bar */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #969696;
  width: 100%;

}

.li-nav { /* Navigation Bar Position */
  float: left;
}
.li-nav a { /* Navigation Text Decoration */
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
}
.li-nav a:hover { /* Navigation Color Change */
  background-color: #3c3c3c;
}
