body {
  color: black;
}
div {
  width: 60%;
  margin: auto;
  padding: 20px;
  text-align: left;
  background-color: white;
}
.mid {
  text-align: center;
}
.head {
  color: rgb(204, 64, 24);
}
h3 {
  font-size: 30px;
}
h5 {
  font-size: 20px;
}
